{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}Product Review{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h3>Add a Review for:<br><br>{{ product.name }}</h3>
                <form method="post" action="{% url 'product_reviews' product_id=product.id %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn-danger">Submit Review</button>
                </form>  
                <a href="{% url 'product_detail' product.id %}" class="btn btn-info mt-4">Back to Product Details</a>
            </div>
        </div>
    </div>
</div>
 
{% endblock %}