<a href="{% url 'checkout' %}" class="btn btn-danger btn-block border border-light rounded-0 btn-lg mt-2">
    <strong>
        <i class="fa-solid fa-cash-register mr-1 text-light"></i>
        <span class="text-uppercase">Secure Checkout</span>
        <span class="icon">
        <i class="fas fa-arrow-right ml-2 text-light"></i>
    </span>
    </strong>
</a>
<a href="{% url 'products' %}" class="btn btn-primary border mb-2 btn-block border-light rounded-0 btn-lg mt-2">
    <strong>
        <span class="icon">
            <i class="fas fa-arrow-left mr-2 text-light"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
        <i class="fa-solid fa-tag text-light"></i>
    </strong>   
</a>
