{% extends "base.html" %}
{% load static %}

{% block extra_title %}Contact Us Messages{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<hr>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">Contact Form Submissions</h1>
            <div class="table-responsive">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Category</th>
                            <th>Message</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for submission in submissions %}
                        <tr>
                            <td>{{ submission.name }}</td>
                            <td>{{ submission.email }}</td>
                            <td>{{ submission.category }}</td>
                            <td style="max-width: 300px; overflow: hidden; text-overflow: ellipsis;" data-toggle="tooltip" title="{{ submission.message }}">{{ submission.message }}</td>
                            <td>{{ submission.timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}

