{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Cookies Policy{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4"> 
      <h2 class="mb-4">Cookies Policy</h2>
      <h3>What Are Cookies?</h3>
      <p>Cookies are small text files that are stored on your computer or mobile device when you visit a website. They are used to store information such as user preferences, login status, and website activity tracking.</p>
      
      <h3>How We Use Cookies</h3>
      <p>We use cookies for various purposes, including:</p>
      <ul>
        <li>Remembering your login status.</li>
        <li>Analyzing website traffic and user behavior.</li>
        <li>Customizing your experience on our website.</li>
      </ul>
      
      <h3>Your Cookie Choices</h3>
      <p>You can manage and delete cookies through your browser settings. Please note that if you disable cookies, some features of our website may not function properly.</p>
      
      <h3>Contact Us</h3>
      <p>If you have any questions or concerns about our cookies policy, please <a href="{% url 'contact_us' %}">contact us</a>.</p>
      <a class="btn btn-primary rounded-0 border border-light mb-4" href="{% url 'home' %}"><i class="fas fa-arrow-left mr-2 text-white"></i>Home <i class="fa-solid fa-house ml-2" style="color: #ffffff;"></i></a>
    </div>
    
    <div class="col-md-4">
      <img src="{{ MEDIA_URL }}slifer.png" alt="Slifer the Sky Dragon" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}