<style>
    .navbar-nav .dropdown-menu{
    }
    .dropdown-item:hover {
    background-color: #9e2727; 
    }
    @media (min-width: 992px) {
    .main-navigation-bar {
        
    }
    .navbar-nav .dropdown-menu {
        left: 50%;
        transform: translateX(-50%);
        width: auto; 
    }
}
</style>

<div class="collapse navbar-collapse" id="main-nav">
    <p class="logo-font w-100 d-md-none text-white text-center mb-auto border border-light" style="background-image: linear-gradient(45deg, #2c2c2c, #ce1313);"><strong>Decked Out - Menu</strong></p>
    <ul class="navbar-nav w-auto mx-auto border-0">
        <li class="nav-item d-block d-md-none text-center">
            <div class="d-flex justify-content-center mb-2">
                <a class="logo-font font-weight-bold nav-link text-center btn  btn-outline-black mt-2" href="{% url 'home' %}" id="home-link" style="background-image: linear-gradient(45deg, #2c2c2c, #ce1313); width: 50%; box-shadow: 1px 1px 11px rgb(141, 139, 139);">
                    Home
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-center" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu main-navigation-bar text-center bg-dark" aria-labelledby="all-products-link">
                <div class="d-flex justify-content-center mb-2" style="border-bottom: solid white 1px">
                    <img src="{{ MEDIA_URL }}yugioh-logo.png" alt="Yugioh Logo" class="img-fluid" style="width: 40%; height: 40%;">
                    <h6 class="text-center text-white">&</h6>
                    <img src="{{ MEDIA_URL }}pokemon-logo.png" alt="Pokemon Logo" class="img-fluid" style="width: 40%; height: 40%;">
                </div>
                <a href="{% url 'products' %}" class="dropdown-item font-weight-bold text-white">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item font-weight-bold text-white">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item font-weight-bold text-white">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item font-weight-bold text-white">By Category</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-center" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                YuGiOh!
            </a>
            <div class="dropdown-menu main-navigation-bar text-center bg-dark" aria-labelledby="clothing-link">
                <div class="d-flex justify-content-center mb-2" style="border-bottom: solid white 1px">
                    <img src="{{ MEDIA_URL }}yugi-and-kaiba.png" alt="Yugioh Logo" class="img-fluid mb-2" style="width: 40%; height: 40%;">
                </div>
                <a href="{% url 'products' %}?category=yugioh-booster-box,yugioh-booster-pack,yugioh-deck,yugioh-tin,yugioh-special-edition,yugioh-accessories" class="dropdown-item font-weight-bold text-white">All Yugioh Products</a>
                <a href="{% url 'products' %}?category=yugioh-booster-box" class="dropdown-item font-weight-bold text-white">Booster Boxes</a>
                <a href="{% url 'products' %}?category=yugioh-booster-pack" class="dropdown-item font-weight-bold text-white">Booster Packs</a>
                <a href="{% url 'products' %}?category=yugioh-deck" class="dropdown-item font-weight-bold text-white">Decks</a>
                <a href="{% url 'products' %}?category=yugioh-tin" class="dropdown-item font-weight-bold text-white">Tins</a>
                <a href="{% url 'products' %}?category=yugioh-special-edition" class="dropdown-item font-weight-bold text-white">Special Edition Sets</a>
                <a href="{% url 'products' %}?category=yugioh-accessories" class="dropdown-item font-weight-bold text-white">Accesories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-center" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pokemon
            </a>
            <div class="dropdown-menu text-center main-navigation-bar bg-dark" aria-labelledby="homeware-link">
                <div class="d-flex justify-content-center mb-2" style="border-bottom: solid white 1px">
                    <img src="{{ MEDIA_URL }}pokemon-logo-catchphrase.png" alt="Pokemon Logo" class="img-fluid mb-2" style="width: 40%; height: 40%;">
                </div>
                <a href="{% url 'products' %}?category=pokemon-booster-box,pokemon-booster-pack,pokemon-decks,pokemon-tin,pokemon-special-edition,pokemon-toys,pokemon-accessories" class="dropdown-item font-weight-bold text-white">All Pokemon Products</a>
                <a href="{% url 'products' %}?category=pokemon-booster-box" class="dropdown-item font-weight-bold text-white">Booster Boxes</a>
                <a href="{% url 'products' %}?category=pokemon-booster-pack" class="dropdown-item font-weight-bold text-white">Booster Packs</a>
                <a href="{% url 'products' %}?category=pokemon-decks" class="dropdown-item font-weight-bold text-white">Decks</a>
                <a href="{% url 'products' %}?category=pokemon-tin" class="dropdown-item font-weight-bold text-white">Tins</a>
                <a href="{% url 'products' %}?category=pokemon-special-edition" class="dropdown-item font-weight-bold text-white">Special Edition Sets</a>
                <a href="{% url 'products' %}?category=pokemon-toys" class="dropdown-item font-weight-bold text-white">Toys</a>
                <a href="{% url 'products' %}?category=pokemon-accessories" class="dropdown-item font-weight-bold text-white">Accesories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-center" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu text-center main-navigation-bar bg-dark" aria-labelledby="specials-link">
                <div class="d-flex justify-content-center mb-2" style="border-bottom: solid white 1px">
                    <img src="{{ MEDIA_URL }}special-offer.png" alt="Yugioh Logo" class="img-fluid mb-2" style="width: 40%; height: 40%;">
                </div>
                <a href="{% url 'products' %}?filter_type=all_offers" class="dropdown-item font-weight-bold text-white">All Specials</a>
                <a href="{% url 'products' %}?filter_type=special_offers" class="dropdown-item font-weight-bold text-white">Special Offers</a>
                <a href="{% url 'products' %}?filter_type=clearance" class="dropdown-item font-weight-bold text-white">Clearance Items</a>
                <a href="{% url 'products' %}?filter_type=new_arrivals" class="dropdown-item font-weight-bold text-white">New Arrivals</a>
            </div>
        </li>
    </ul>
</div>