<footer class="page-footer font-small indigo bg-dark border border-light">
    <div class="container text-center text-md-left mt-3">
        <div class="row text-center">
            <div class="col-md-3 text-white">
                <h3 class="logo-font">Contact us</h3>
                <ul class="list-unstyled">
                    <li>Decked Out,</li>
                    <li>Main Street,</li>
                    <li>Abbeyleix,</li>
                    <li>Co Laois,</li>
                    <li>Ireland</li>
                    <li><a href="mailto:deckedouttcgstore@gmail.com" class="text-white">deckedouttcgstore@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-3 text-white">
                <h3 class="logo-font">Social Links</h3>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/profile.php?id=61556460457145" target="_blank" class="text-white"><i class="fab fa-facebook text-primary"></i> Facebook</a></li>
                </ul>
            </div>
            <div class="col-md-3 text-white">
                <h3 class="logo-font">FAQ</h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'cookies_policy' %}" class="text-white">Cookie Policy</a></li>
                    <li><a href="{% url 'about_us' %}" class="text-white">About Us</a></li>
                    <li><a href="{% url 'returns_policy' %}" class="text-white">Returns Policy</a></li>
                    <li><a href="{% url 'contact_us' %}" class="text-white">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 text-white">
                <h3 class="logo-font">Site Navigation</h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-white">Home</a></li>
                    <li><a href="{% url 'products' %}" class="text-white">Shop</a></li>
                    <li><a href="{% url 'products' %}?category=yugioh-booster-box,yugioh-booster-pack,yugioh-deck,yugioh-tin,yugioh-special-edition,yugioh-accessories" class="text-white">Shop YuGiOH!</a></li>
                    <li><a href="{% url 'products' %}?category=pokemon-booster-box,pokemon-booster-pack,pokemon-decks,pokemon-tin,pokemon-special-edition,pokemon-toys,pokemon-accessories" class="text-white">Shop Pokemon</a></li>
                    <li><a href="{% url 'products' %}?filter_type=all_offers" class="text-white">Shop Offers</a></li>
                    <li><a href="{% url 'view_bag' %}" class="text-white">Cart</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'profile' %}" class="text-white">Profile</a></li>
                        {% if request.user.is_superuser %}
                            <li><a href="{% url 'add_product' %}" class="text-white">Create a Product</a></li>
                            <li><a href="{% url 'product_statistics' %}" class="text-white">Product Statistics</a></li>
                        {% endif %}
                        <li><a href="{% url 'account_logout' %}" class="text-white">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'account_signup' %}" class="text-white">Register</a></li>
                        <li><a href="{% url 'account_login' %}" class="text-white">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div> 
    </div>
    <hr class="clearfix w-100 d-md-none">
    <div class="footer-copyright text-center py-5 text-white">
        © 2023 Copyright:
        <a href="https://github.com/DiarmuidSheeran" target="_blank" class="text-white">Diarmuid Sheeran <i class="fab fa-github"></i></a>
    </div>
</footer>