<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto border-0">
        <li class="nav-item d-block d-lg-none text-center">
            <div class="d-flex justify-content-center mb-2">
                <a class="logo-font font-weight-bold nav-link text-center btn text-white btn-block btn-sm border border-light mt-2" href="{% url 'home' %}" id="home-link" style="background-image: linear-gradient(45deg, #2c2c2c, #ce1313); box-shadow: 1px 1px 11px rgb(141, 139, 139);">
                    Home
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-center" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <ul class="dropdown-menu main-navigation-bar text-center" aria-labelledby="all-products-link" style="border: solid red 3px; background-color: black; box-shadow: 1px 1px 11px rgb(141, 139, 139);">
                <li><a href="{% url 'products' %}" class="dropdown-item font-weight-bold text-white">All Products</a></li>
                <li><a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item font-weight-bold text-white">By Price</a></li>
                <li><a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item font-weight-bold text-white">By Rating</a></li>
                <li><a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item font-weight-bold text-white">By Category</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-center" href="#" id="yugioh-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                YuGiOh!
            </a>
            <ul class="dropdown-menu main-navigation-bar text-center" aria-labelledby="yugioh-link" style="border: solid red 3px; background-color: black; box-shadow: 1px 1px 11px rgb(141, 139, 139);">
                <li><a href="{% url 'products' %}?category=yugioh-booster-box,yugioh-booster-pack,yugioh-deck,yugioh-tin,yugioh-special-edition,yugioh-accessories" class="dropdown-item font-weight-bold text-white">All Yugioh Products</a></li>
                <li><a href="{% url 'products' %}?category=yugioh-booster-box" class="dropdown-item font-weight-bold text-white">Booster Boxes</a></li>
                <li><a href="{% url 'products' %}?category=yugioh-booster-pack" class="dropdown-item font-weight-bold text-white">Booster Packs</a></li>
                <li><a href="{% url 'products' %}?category=yugioh-deck" class="dropdown-item font-weight-bold text-white">Decks</a></li>
                <li><a href="{% url 'products' %}?category=yugioh-tin" class="dropdown-item font-weight-bold text-white">Tins</a></li>
                <li><a href="{% url 'products' %}?category=yugioh-special-edition" class="dropdown-item font-weight-bold text-white">Special Edition Sets</a></li>
                <li><a href="{% url 'products' %}?category=yugioh-accessories" class="dropdown-item font-weight-bold text-white">Accessories</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-center" href="#" id="pokemon-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pokemon
            </a>
            <ul class="dropdown-menu text-center main-navigation-bar" aria-labelledby="pokemon-link" style="border: solid red 3px; background-color: black; box-shadow: 1px 1px 11px rgb(141, 139, 139);">
                <li><a href="{% url 'products' %}?category=pokemon-booster-box,pokemon-booster-pack,pokemon-decks,pokemon-tin,pokemon-special-edition,pokemon-toys,pokemon-accessories" class="dropdown-item font-weight-bold text-white">All Pokemon Products</a></li>
                <li><a href="{% url 'products' %}?category=pokemon-booster-box" class="dropdown-item font-weight-bold text-white">Booster Boxes</a></li>
                <li><a href="{% url 'products' %}?category=pokemon-booster-pack" class="dropdown-item font-weight-bold text-white">Booster Packs</a></li>
                <li><a href="{% url 'products' %}?category=pokemon-decks" class="dropdown-item font-weight-bold text-white">Decks</a></li>
                <li><a href="{% url 'products' %}?category=pokemon-tin" class="dropdown-item font-weight-bold text-white">Tins</a></li>
                <li><a href="{% url 'products' %}?category=pokemon-special-edition" class="dropdown-item font-weight-bold text-white">Special Edition Sets</a></li>
                <li><a href="{% url 'products' %}?category=pokemon-toys" class="dropdown-item font-weight-bold text-white">Toys</a></li>
                <li><a href="{% url 'products' %}?category=pokemon-accessories" class="dropdown-item font-weight-bold text-white">Accessories</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-center" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <ul class="dropdown-menu text-center main-navigation-bar mb-2" aria-labelledby="specials-link" style="border: solid red 3px; background-color: black; box-shadow: 1px 1px 11px rgb(141, 139, 139);">
                <li><a href="{% url 'products' %}?filter_type=all_offers" class="dropdown-item font-weight-bold text-white">All Specials</a></li>
                <li><a href="{% url 'products' %}?filter_type=special_offers" class="dropdown-item font-weight-bold text-white">Special Offers</a></li>
                <li><a href="{% url 'products' %}?filter_type=clearance" class="dropdown-item font-weight-bold text-white">Clearance Items</a></li>
                <li><a href="{% url 'products' %}?filter_type=new_arrivals" class="dropdown-item font-weight-bold text-white">New Arrivals</a></li>
            </ul>
        </li>
    </ul>
</div>