{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
<div class="container mt-4">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-6 bg-dark border border-danger">
      <h3 class="logo-font text-center mt-2 pb-2">Welcome to Decked Out!</h3>
      <h4 class="logo-font mb-2 text-center">{% trans "Sign In Below" %} <i class="fa-solid fa-key ml-1 text-warning"></i> <br><i class="fas fa-arrow-down text-white"></i> </h4>

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p class="bg-dark text-white">{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

      <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

        <div class="login-or">{% trans 'or' %}</div>

      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
      <p class="text-white text-center">{% blocktrans %}Dont have an account yet?<br>
      <a href="{{ signup_url }}">Click here to Sign Up <i class="fa-solid fa-address-card ml-2 text-white"></i></a> {% endblocktrans %}</p>
      {% endif %}

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="mb-1">
          <button class="primaryAction bg-danger btn-block" type="submit">
            <i class="fa-solid fa-key mr-2" style="color: #ffffff;"></i>
            {% trans "Sign In" %}
            <i class="fas fa-arrow-right ml-2 text-white"></i>
          </button>
          <a class="btn btn-info btn-block text-white rounded-0 mr-2" href="{% url 'home' %}"><i class="fas fa-arrow-left mr-2 text-white"></i>Home <i class="fa-solid fa-house ml-2" style="color: #ffffff;"></i></a>
        </div>
        <p class="mt-3 text-center">
          <a class="button secondaryAction text-center" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </p>
      </form>
    </div>
    <div class="col-12 col-lg-6">
      <img src="{{ MEDIA_URL }}pikachu.png" alt="Pikachu" class="img-fluid ml-4">
    </div>
  </div>
</div>
{% endblock %}
