{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}Password Rest Complete{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <hr>
    <h2 class="logo-font mb-4 text-white">{% trans "Your Password was Rest Successfully" %}</h2>
    <hr>
    <p class="text-white">{% trans 'Your password is now changed.' %}</p>
    <h4 class="text-white logo-font">{% trans 'You can now Login with your new password' %}</h4>
    <a class="btn btn-info rounded-0 text-white border border-light" href="{% url 'account_login' %}">Login <i class="fa-solid fa-key fa-flip-horizontal pr-1 text-warning"></i></a>
    <br><br><br><br><br><br><br><br><br><br>
{% endblock %}