{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="container mt-4">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-6 bg-dark border border-danger">
      <h3 class="logo-font text-center mt-2 pb-2">Welcome to Decked Out!</h3>
      <h4 class="logo-font text-center mb-2">{% trans "Register Below" %} <i class="fa-solid fa-address-card ml-2 text-warning" style="color: #ffffff;"></i> <br><i class="fas fa-arrow-down text-white"></i></h4>
      <p class="text-white text-center">{% blocktrans %}Already have an account?<br><a href="{{ login_url }}"><i class="fa-solid fa-key mr-1"></i>Sign in here</a>.{% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="mb-4">
          <button type="submit" class="bg-danger btn-block"><i class="fa-solid fa-user-plus mr-1" style="color: #ffffff;"></i>  {% trans "Sign Up" %}  <i class="fas fa-arrow-right ml-1 text-white"></i></button>
          <a class="btn btn-info btn-block text-white rounded-0 mr-2 mt-2" href="{% url 'account_login' %}"><i class="fas fa-arrow-left mr-2 text-white"></i>Back to Login<i class="fa-solid fa-key ml-2" style="color: #ffffff;"></i></a>
        </div>
      </form>
    </div>
    <div class="col-12 col-lg-6">
      <img src="{{ MEDIA_URL }}dark-magician-girl.png" alt="Dark Magician Girl" class="img-fluid ml-4 mt-2">
    </div>
  </div>
</div>
{% endblock %}
