{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Admin Products</h1>
        <div class="table-responsive">
            <table class="table">
                <thead class="text-danger">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="text-white">
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>
                                {{ product.name }}
                                <br><br>
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 30%; height: 30%;">
                                    </a>
                                {% else %}
                                    <a href="">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-product-image.png" alt="{{ product.name }}" style="width: 30%; height: 30%;">
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if product.is_on_promotion and product.promotion_price %}
                                    <span class="special-offer-badge">Special Offer</span>
                                    <br>
                                    <span class="original-price text-muted"><del>€{{ product.price }}</del></span>
                                    <span class="promotion-price text-danger">€{{ product.promotion_price }}</span>
                                {% else %}
                                    €{{ product.price }}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{% url 'edit_product' product.id %}" class="btn btn-primary btn-block">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-white">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
{% endblock %}

