{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Product Statistics</h1>
            <div class="dropdown text-center mt-4 mb-4">
                <button class="btn btn-dark border border-danger dropdown-toggle text-center" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </button>
                <div class="dropdown-menu" aria-labelledby="sortDropdown">
                    <a class="dropdown-item" href="?sort_by=sales_asc">Total Sold (Asc)</a>
                    <a class="dropdown-item" href="?sort_by=sales_desc">Total Sold (Desc)</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="?sort_by=purchased_asc">Times Purchased (Asc)</a>
                    <a class="dropdown-item" href="?sort_by=purchased_desc">Times Purchased (Desc)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="text-danger">
                    <tr>
                        <th>Product Information</th>
                        <th>Total Sold</th>
                        <th>Times Purchased</th>
                    </tr>
                </thead>
                <tbody class="text-white">
                    {% for product in sold_products %}
                    <tr>
                        <td>
                            {{ product.name }}
                            <br>
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid mt-2" src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100px; height: 100px;">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid mt-2" src="{{ MEDIA_URL }}no-product-image.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        
                            
                        </td>
                        <td>{{ product.productstatistics.total_sold }}</td>
                        <td>{{ product.productstatistics.times_purchased }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

