{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-4">
                <h2 class="logo-font">Products</h2>
                {% for c in current_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-white rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-12">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 product-card">
                                {% if product.new_arrival and product.is_on_promotion %}
                                    <span class="badge badge-warning" style="width: 20%; margin-top: 5px; margin-left: 5px; padding-right: 10px;">New!</span>
                                    <span class="badge badge-danger" style="width: 20%; margin-top: 5px; margin-left: 5px;">Sale!</span>
                                {% elif product.new_arrival%}
                                    <span class="badge badge-warning" style="width: 20%; margin-top: 5px; margin-left: 5px;">New!</span>
                                {% elif product.is_on_promotion%}
                                <span class="badge badge-danger" style="width: 20%; margin-top: 5px; margin-left: 5px;">Sale!</span>   
                                {% endif %}
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-product-image.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0" style="color:black">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col mt-2">
                                            <p class="lead mb-0 text-left font-weight-bold" style="color:black">
                                                {% if product.is_on_promotion and product.promotion_price and product.clearance %}
                                                    <span class="badge badge-warning text-black">Clearance!</span>
                                                    <br>
                                                    <span class="original-price text-muted"><del>€{{ product.price }}</del></span>
                                                    <span class="promotion-price text-danger">€{{ product.promotion_price }}</span>
                                                    
                                                {% elif product.is_on_promotion and product.promotion_price %}
                                                    <span class="badge badge-danger text-warning">Special Offer!</span>
                                                    <br>
                                                    <span class="original-price text-muted"><del>€{{ product.price }}</del></span>
                                                    <span class="promotion-price text-danger">€{{ product.promotion_price }}</span>
                                                {% else %}
                                                    €{{ product.price }}
                                                {% endif %}
                                            </p>
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if product.average_rating %}
                                                <small class="text-muted"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> {{ product.average_rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted"><i class="fa-solid fa-star" style="color: #FFD43B;"></i>0 / 5</small>
                                            {% endif %}
                                
                                            {% if user.is_authenticated %}
                                                <form class="d-inline like-form text-center" action="{% url 'wishlist' sku=product.sku %}" method="POST" data-product-sku="{{ product.sku }}">
                                                    {% csrf_token %}
                                                    {% if request.user in product.wishlist.all %}
                                                    <button type="submit" name="like" value="{{ product_wish.sku }}" class="btn-like btn btn-white like-button like-btn" data-like-action="unlike" aria-label="remove-from-wishlist">
                                                        <i class="fa-solid fa-heart fa-sm" style="color: #cc2b5e;"></i><span class="ml-1 like-text">Remove from Wishlist</span>
                                                    </button>
                                                    
                                                    {% else %}
                                                    <button type="submit" name="like" value="{{ product_wish.sku }}" class="btn-like btn btn-white like-button like-btn" data-like-action="like" aria-label="add-to-wishlist">
                                                        <i class="fa-solid fa-heart fa-sm" style="color: #000;"></i><span class="ml-1 like-text">Add to Wishlist</span>
                                                    </button>
                                                    {% endif %}
                                                </form>
                                            {% else %}
                                                <a href="{% url 'account_login' %}" class="btn-like btn btn-white like-button like-btn">
                                                    <i class="fa-solid fa-heart fa-sm" style="color: #000;"></i><span class="ml-1 like-text">Add to Wishlist</span>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-12">
                                                <div class="form-group w-100 mt-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty btn btn-dark rounded-5" 
                                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                                <span class="icon">
                                                                    <i class="fas fa-minus"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                        <div class="input-group-append">
                                                            <button class="increment-qty btn btn-dark rounded-5"
                                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                                <span class="icon">
                                                                    <i class="fas fa-plus"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="col-12">
                                                <input type="submit" class="btn text-white border border-dark rounded-5 text-uppercase" value="Add to Bag" style="background-image: linear-gradient(45deg, #2c2c2c, #ce1313);">
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
    {% include 'products/includes/quantity_input_script.html' %}
    {% include 'products/includes/wishlist_script.html' %}
    
{% endblock %}
