{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<hr>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2>Decked Out's Product Statistics <i class="fa-solid fa-chart-simple" style="color: #ffffff;"></i></h2>
            <a href="#recommendationsSection" class="btn btn-secondary border border-ligth d-md-none">Product Recommendations</a>
            <br>
            <a class="btn btn-primary border border-light rounded-0 mt-2 mb-2" href="{% url 'profile' %}">Back to Profile</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-8">
            <h2>Product Sales Record</h2>
            <div class="dropdown mb-2">
                <button class="btn btn-light dropdown-toggle text-center" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </button>
                <div class="dropdown-menu" aria-labelledby="sortDropdown">
                    <a class="dropdown-item" href="?sort_by=sales_asc">Total Sold (Asc)</a>
                    <a class="dropdown-item" href="?sort_by=sales_desc">Total Sold (Desc)</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="?sort_by=purchased_asc">Times Purchased (Asc)</a>
                    <a class="dropdown-item" href="?sort_by=purchased_desc">Times Purchased (Desc)</a>
                </div>
            </div>
            <table class="table">
                <thead class="text-danger">
                    <tr>
                        <th>Product Information</th>
                        <th>Total Sold</th>
                        <th>Times Purchased</th>
                    </tr>
                </thead>
                <tbody class="text-white">
                    {% for product in sold_products %}
                    <tr>
                        <td>
                            {{ product.name }}
                            <br>
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid mt-2" src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100px; height: 100px;">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid mt-2" src="{{ MEDIA_URL }}no-product-image.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        </td>
                        <td>{{ product.productstatistics.total_sold }}</td>
                        <td>{{ product.productstatistics.times_purchased }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <div id="recommendationsSection">
                <h2>Recommended for Promotion</h2>
                <p>Poor Sales Record</p>
                <div class="card-deck">
                    {% if recommend_promo_products %}
                        <div class="row row-cols-1 row-cols-md-2">
                            {% for product in recommend_promo_products %}
                                {% if product.is_on_promotion is False %}
                                    <div class="col mb-4">
                                        <div class="card text-black bg-light h-100 border border-danger">
                                            <a href="{% url 'product_detail' product.id %}" class="text-black">
                                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                                <div class="card-body d-flex flex-column">
                                                    <h5 class="card-title">{{ product.name }}</h5>
                                                </div>
                                            </a>
                                            <div class="card-footer mt-auto bg-dark text-white">
                                                <p class="card-text">Total Sold: {{ product.productstatistics.total_sold }}</p>
                                                <p class="card-text">Times Purchased: {{ product.productstatistics.times_purchased }}</p>
                                                <a href="{% url 'edit_product' product.id %}" class="btn btn-danger btn-block"> Edit Product <i class="fa-solid fa-pen-to-square pl-2" style="color: #ffffff;"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-12">
                                <p class="text-white ml-3">There are no products to recommend at the current time <i class="fa-solid fa-face-smile-beam" style="color: #FFD43B;"></i></p>
                            </div>
                        </div> 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

